
*{
    margin: 0px auto;
    padding: 0px auto;

}
.clearfix{
    float: none;
    clear: both;
}
body{
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}
#global{
    
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    background:white;
    box-shadow: 0px 0px 4px #ccc;
}
#logo{
    display: block;
    float: left;
    font-size: 20px;
    text-align: center;
    width: 380px;
    height: 80px;
    background: #235e3d;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 80px;
    margin-bottom: 20px;
    transition: all 300ms;
}
#logo:hover{
    box-shadow: 0px 0px 10px black inset;
    transform: scale(1.2,1.2);
    background: #235e3d;

}

#menu{
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    width: 100%;
    margin-bottom: 20px;
    
}
#menu ul{
    line-height: 46px;
    list-style: none;
}
#menu li{
    height: 46px;
    display: inline-block;
    line-height: 46px;
   
    transition: all 300ms;
}
#menu ul li a{
    text-decoration: none;
    display: block;
    color: white;
    
    padding-left: 30px;
    padding-right: 30px;
}
#menu ul li a:hover{  
    transform: scale(1.2,1.2); 
}
#menu ul li:hover{
    box-shadow: 0px 0px 10px black inset;
    background: #235e3d;
}
#posts{
    width: 60%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
.post{
    padding: 5px;
}
.post h2{
    font-size: 30px;
    color: #333;
}
.post .date{
    display: block;
    color: gray;
    margin-top: 5px;
}
.post p{
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 22px;
    text-align: justify;
}
#sidebar{
    background: #235e3d;
}
.post a{
    margin-left: 0px;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    color: white;
    background: #235e3d;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}